<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @child.name %>
</p>

<p>
  <b>Image:</b>
  <%= image_tag @child.image_url(:thumb) %>
</p>

<p>
  <b>Bank:</b>
  <%= @child.bank %> <p>Pts</p>
</p>

<p>
  <b>Dob:</b>
  <%= @child.dob %>
</p>


<%= link_to (image_tag 'edit_16.png'), edit_child_path(@child) %> |
<%= link_to "back", children_path %>
<div class="hero-unit">
<h4>Chores</h4>
<ul>
	<% @child.chores.incomplete.each do |chore| %>          
	<li><%= chore.name %>, <%= chore.points %>pts, <%= chore.due_date.strftime("due: %A") %> - <%= button_to "Complete", complete_chore_path(@child.id, chore.id) %></li>
	
	
	<% end %>
</ul>

<h4>Completed Chores</h4>
<ul id="completed">
	<% @child.chores.completed.each do |chore| %>
	<li><%= chore.name %></li>
	
	<% end %>
</ul>

<hr />

<%= form_for [@child, @child.chores.new] do |f| %>

<%= f.text_field :name, placeholder: 'describe chore...' %> 
	<%= f.number_field :points, placeholder: 'points...' %> 
	<%= f.text_field :due_date, placeholder: 'due date...' %>
<%= f.submit %>

<% end %>
</div>
<div class="hero-unit">
<h4>Rewards</h4>
<ul>
	<% @child.rewards.incomplete.each do |reward| %>          
	<li><%= reward.name %>, <%= reward.costs %>pts, - <%= button_to "Reward", complete_reward_path(@child.id, reward.id) %></li>
	
	
	<% end %>
</ul>

<h4>Rewarded</h4>
<ul id="completed">
	<% @child.rewards.each do |reward| %>
	<li><%= reward.name %></li>
	
	<% end %>
</ul>

<hr />

<%= form_for [@child, @child.rewards.new] do |f| %>

<%= f.text_field :name, placeholder: 'describe reward...' %> 
	<%= f.number_field :costs, placeholder: 'points...' %> 
	<%= f.file_field :image %>
<%= f.submit %>

<% end %>

</div>


<hr />
<%= link_to "Back to children", children_url %>




