
   <%= link_to "back", children_path %>
  
<div class="well">
 	  <%= image_tag @child.image_url(:thumb), class: "feature" %>
	  <span id="child_name"><%= @child.name %></span>
    aged: <%= @child.dob %> |
    <%= link_to (image_tag 'edit_16.png'), edit_child_path(@child) %> 
    <span id="child_bank"><b>Bank:</b> <%= @child.bank %> Pts</span>  
</div>

<p id="notice"><%= notice %></p>
<div class="row">
<div class="span4">
	<div class="hero-unit">
	  <h4>Chores</h4>
		<ul class="incomplete">
			<% @child.chores.incomplete.each do |chore| %>          
			  <li><%= chore.name %>, <%= chore.points %>pts, <%= chore.due_date.strftime("due: %A") %> - <%= link_to "Done", complete_chore_path(@child.id, chore.id) %></li>
	  	<% end %>
		</ul>

		
		<ul class="completed">
			<% @child.chores.completed.each do |chore| %>
			<li><%= chore.name %></li>
			<% end %>
		</ul>

	<%#debug params %> 

		<hr />

		<%= form_for [@child, @child.chores.new] do |f| %>
		  <%= f.text_field :name, placeholder: 'describe chore...' %> 
			<%= f.number_field :points, placeholder: 'points...' %> 
			<%= f.text_field :due_date, placeholder: 'due date...' %>
		  <%= f.submit %>
		<% end %>
	
	</div> <!-- end of hero-unit -->
</div>

<div class="row">
<div class="span4">
	<div class="hero-unit">
		<h4>Rewards</h4>
		<ul class="incomplete">
			<% @child.rewards.incomplete.each do |reward| %>  
			        
			<li><%= image_tag reward.image_url(:tiny) %><%= reward.name %>, <%= reward.costs %>pts, - <%= button_to "Done", complete_reward_path(@child.id, reward.id) %></li>
			<% end %>
		</ul>

		<ul class="completed">
			<% @child.rewards.completed.each do |reward| %>
			  <li><%= reward.name %></li>
			<% end %>
		</ul>

		<hr />

		<%= form_for [@child, @child.rewards.new] do |f| %>
		  <%= f.text_field :name, placeholder: 'describe reward...' %> 
			<%= f.number_field :costs, placeholder: 'points...' %> 
			<%= f.file_field :image %>
		  <%= f.submit %>
		<% end %>

	</div>
</div>
<div class="row">






