<div class="center-nav"></div>
	<ul>
		
			<div class="download_btn"><%= image_tag 'web-buttons.png' %></div>
			<div class="download_btn"><%= image_tag 'web-buttons.png' %></div>
			<div class="download_btn"><%= image_tag 'web-buttons.png' %></div
		<li><%= link_to "Chore", child_chores_path %></li>
		<li><%= link_to "Rewards", child_rewards_path %></li>
		<li><%= link_to "Children", children_path %></li>
	</ul>
</div>